Repository pysal/giddy, pull requests merged in 2021-01, with the labels that each got.

#165 (doc) remove unused requirements for doc building
  .github/workflows/unittests.yml
  requirements_docs.txt
Labels: docs

#168 removing unused docs materials
  readthedocs.yml
  testing/matplotlibrc
Labels: docs

#166 update release_and_publish.yml
  .github/workflows/release_and_publish.yml
Labels: GitHub Actions

#167 add custom codecov schema
  codecov.yml
Labels: package maintenance
